.zona4{
    display: flex;
    justify-content: space-around;
    margin: 50px;

    .box-z4{
        box-shadow: 9px 10px 26px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 9px 10px 26px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 9px 10px 26px -6px rgba(0,0,0,0.75);
        border-radius: 50%;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 50%;    
        }
        img:hover{
            transform: scale(1.1);
            transition: 1s;
        }        
    }
}