.zona3{
    display: flex;
    margin: 50px;
    .div-izquierda{
        width: 50%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .div-derecha{
        text-align: center;
        width: 50%;
        height: 100%;
        margin-left: 50px;
        h4{
            font-size: 2rem;
            margin-bottom: 5px;
        }
    }
}
@media (min-width: 320px) and (max-width: 767px) {
    .zona3{
        margin: 20px;
        flex-direction: column;
        .div-izquierda{
            width: 100%;
            height: 400px;
        }
        .div-derecha{
            width: 100%;
            margin: 20px;
            margin-left: auto;

            h4{
                font-size: 1.5em;
                font-weight: 700;
            }
            p{
                font-size: .9em;
            }
        }
    }
}