.zona3{
    display: flex;
    margin: 50px;
    .div-izquierda{
        width: 50%;
        height: 700px;
        display: flex;
        align-items: center;
        justify-content: center;
        img{
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
    .div-derecha{
        text-align: center;
        width: 50%;
        height: 100%;
        margin-left: 50px;
        h4{
            font-size: 2rem;
            margin-bottom: 5px;
        }
    }
}